@font-face {
    font-family: "Poppins-Light";
    src: url("/fonts/Poppins-Light.ttf");
    font-weight: lighter;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins-Black";
    src: url("/fonts/Poppins-Black.ttf");
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("/fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Poppins-Medium";
    src: url("/fonts/Poppins-Medium.ttf");
}

body {
    background-color: #0000;
    font-family: "Poppins";
}

$fonts:"Regular",
"Black",
"Bold",
"Light",
"Medium";

@each $ft in $fonts {
    .pop-#{$ft} {
        font-family: "Poppins-#{$ft}";
    }
}


.hover-Top {
    transition: transform 0.15s ease-in;

    &:hover {

        transform: translateY(-10px);
    }
}

.invisible {
    display: none !important;
}

.width-slide-effect{
    transition: width 0.2s ease;
}